.App {
}
.appHeader {
  font-family: 'Shadows Into Light', cursive;
  margin-top: 0px;
  margin-bottom: 3vh;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 4rem;
  letter-spacing: 5px;
}
#potato {
  background-image:url('../assets/images/potato.png');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height:50px;
  width:100px;
  transform: rotate(-90deg);
  margin-right: -23px;
  margin-left: -23px;
}
.header-spin {
  background-color: #222;
  position: relative;
  top: 5vh;
  display: inline-block;
  height:150px;
  width:150px;
  box-sizing: border-box;
  border-radius: 50%;
  animation: 5s App-logo-spin linear infinite;
  color: white;
  left:1vw;
  right:2vw;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.recordsUL {
  text-align: center;
  position: absolute;
  background-color: rgba(255,255,255,.85);
  padding: 0px;
  top:12vh;
  height:60vh;
  width: 50vw;
  overflow: scroll;
  z-index: 1;
}
.recordTitles {
  list-style: none;
  font-size: 2rem;
  transition: all .5s;
}
.recordTitles:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.8);
  color: rgba(255,255,255,.7);
}
.chooseRecord {
text-align: center;
font-size: 2rem;
height: 8vh;
}
.chooseRecord:hover {
  cursor: pointer;
  color: blue;
  transition: all .5s;
}
.djSet {
  position: relative;
  display: flex;
  font-family: 'Architects Daughter', cursive;
}
.turnMix {
    display: flex;
    color: white;
    text-align: center;
}
.turntable {
  background-image:url('../assets/images/turntable.jpeg');
  background-size: cover;
  height:60vh;
  width: 35vw;
  display: inline-block;
  background-color: #222;
  border-right:.5vw solid black;
  box-sizing: border-box;
}
#recordSpin1 {
  position: absolute;
  background-image:url('../assets/images/record.png');
  background-size: 82%;
  margin-left: -2vw;
  margin-top: -4.8vh;
  background-position: center;
  background-repeat: no-repeat;
  height: 515px;
  width: 515px;
  padding-top: 0.1px;
}
#recordSpin2 {
  position: absolute;
  background-image:url('../assets/images/record.png');
  background-size: 82%;
  margin-left: -2vw;
  margin-top: -4.8vh;
  background-position: center;
  background-repeat: no-repeat;
  height: 515px;
  width: 515px;
  padding-top: 0.1px;
}
.recordSpinActive {
  animation: 3s spin linear infinite;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to { transform: rotate(360deg); }
}
.recordForwardSpinActive {
  animation: 1.5s spin linear infinite;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to { transform: rotate(360deg); }
}
.recordRevSpinActive {
  animation: 3s revSpin linear infinite;
}
@keyframes revSpin {
  from {transform: rotate(0deg);}
  to { transform: rotate(-360deg); }
}
#recordImg1 {
  background-image:url('../assets/images/tribe2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 165px;
  width: 165px;
  border-radius: 100%;
  margin:auto;
  margin-top: 22.5vh;
  animation: .5s appear linear;
}
#recordImg2 {
/*  background-image:url('../assets/images/tribe2.jpeg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 165px;
  width: 165px;
  border-radius: 100%;
  margin:auto;
  margin-top: 22.5vh;
  animation: .5s appear linear;
}
@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}
.play {
  height: 8vh;
  width: 65px;
  background-color: black;
  color: white;
  line-height: 8vh;
  position: relative;
  margin-top: 50vh;
  margin-left: .7vw;
  background-color: #222;
  border:2px solid black;
  box-shadow: 5px 5px 20px black;
  transition: all .5s;
  z-index: 0;
}
.play:hover {
  color: blue;
  cursor: pointer;
}
.mixerTitle {
  height: 3.5vh;
  overflow-x: auto;
}
.mixer {
  display: inline-block;
  background-color: #222;
  box-sizing: border-box;
  width: 15vw;
  height:60vh;
  text-align: center;
  border-top:.5vw solid black;
  border-bottom:.5vw solid black;
}
#mixer1 {
  border-right: 5px solid black;
}
.filtersContainer {
  display: flex;
  justify-content:space-around;
}
.filters {
  height:2.5rem;
  width:2.5rem;
  box-sizing: border-box;
  background-color: gray;
  border-radius: 50%;
  line-height: 2.5rem;
  box-shadow: 2px 2px 20px black;
  transition: all .5s;
}
.filters:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.bpmPitch {
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;
}
.bpmUp {
  margin:auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
  transition: all .5s;
}
.bpmUp:hover {
  border-bottom: 15px solid blue;
  cursor: pointer;
}
.bpmDown {
  margin:auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
  transition: all .5s;
}
.bpmDown:hover {
  border-top: 15px solid blue;
  cursor: pointer;
}
.pitchUp {
  margin:auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
  transition: all .5s;
}
.pitchUp:hover {
  border-bottom: 15px solid blue;
  cursor: pointer;
}
.pitchDown {
  margin:auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
  transition: all .5s;
}
.pitchDown:hover {
  border-top: 15px solid blue;
  cursor: pointer;
}
.gain  {
  text-align: center;
  margin-top: 4vh;
}
.volumeUp {
  margin:auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
  transition: all .5s;
}
.volumeUp:hover {
  border-bottom: 20px solid blue;
  cursor: pointer;
}
.volumeDown {
  margin:auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  transition: all .5s;
}
.volumeDown:hover {
  border-top: 20px solid blue;
  cursor: pointer;
}
.loopRew {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
}
.forward {
  background-image:url('../assets/images/rewind.png');
  background-size: cover;
  height:2.7rem;
  width:2.7rem;
  box-sizing: border-box;
  transform: rotate(180deg);
  transition: all .2s linear;
}
.forward:hover {
  height:2.5rem;
  width:2.5rem;
  background-image:url('../assets/images/rewindActive.png');
  background-size: cover;
  cursor: pointer;
}
.rewind {
  background-image:url('../assets/images/rewind.png');
  background-size: cover;
  height:2.7rem;
  width:2.7rem;
  box-sizing: border-box;
  transition: all .2s linear;
}
.rewind:hover {
  height:2.5rem;
  width:2.5rem;
  background-image:url('../assets/images/rewindActive.png');
  background-size: cover;
  cursor: pointer;
}
@keyframes loop {
  from {transform: rotate(0deg);}
  from {transform: rotate(-360deg);}
}
.hide {
  display: none;
}
.show {
  display: block;
  animation: 1s show linear;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
.disappear {
  opacity: 0;
}
